<footer>
    <a target="_blank" href="https://github.com/TwistedBagel"><i class="fab fa-2x fa-github"></i></a>
    <a target="_blank" href="https://www.instagram.com/_twistedbagel/"><i class="fab fa-2x fa-instagram"></i></a>
    <a target="_blank" href="https://www.artstation.com/twistedbagel"><i class="fab fa-2x fa-artstation"></i></a>
</footer>