<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/normalize.css'>
    <link rel="stylesheet" href="/css/midterm.css">
    <title>Midterm</title>
</head>
<body>
    <div class='grid-container'>
        <nav>
                <div class='logo'>
                    <span>MY</span><span>PORTFOLIO</span>
                </div>
                <ul>
                    <li><a class='active-nav' href='#'>Home</a></li>
                    <li><a href='#'>Services</a></li>
                    <li><a href='#'>Features</a></li>
                    <li><a href='#'>Portfolio</a></li>
                    <li><a href='#'>Contact</a></li>
                </ul>
        </nav> 
        <div class="hero1">
            <p>“Lorem ipsum dolor sit amet, con 
                adipiscing eliAt. Curabitur nec lacus La purus”</p>
        </div>
        <div class="services">
            <div class='wrap'>
                <h1><span>Ser</span>vices</h1>
                <section>
                    <div>
                        <img src="/img/coffee.png">
                        <h3>Web Design</h3>
                        <p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
                    </div>
                    <div>
                        <img src='/img/instant.png'>
                        <h3>Photography</h3>
                        <p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
                    </div>
                    <div>
                        <img src='/img/dslr.png'>
                        <h3>Graphic Design</h3>
                        <p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
                    </div>
                    <div>
                        <img src='/img/frame.png'>
                        <h3>Branding</h3>
                        <p>Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.</p>
                    </div>
                </section>
            </div>
        </div>
        <div class='portfolio'>
            <section class='nav'>
                <h1><span>Por</span>tfolio</h1>
                <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Websites</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </section>
            <section class='gallery'>
                <div class="galleryItem">
                    <div><span>+</span></div>
                    <img src="/img/galleryImage1.png" alt="">
                </div>
                <div class="galleryItem">
                    <div><span>+</span></div>
                    <img src="/img/galleryImage2.png" alt="">
                </div>
                <div class="galleryItem">
                    <div><span>+</span></div>
                    <img src="/img/galleryImage3.png" alt="">
                </div>
                <div class="galleryItem">
                    <div><span>+</span></div>
                    <img src="/img/galleryImage4.png" alt="">
                </div>
                <div class="galleryItem">
                    <div><span>+</span></div>
                    <img src="/img/galleryImage5.png" alt="">
                </div>
                <div class="galleryItem">
                    <div><span>+</span></div>
                    <img src="/img/galleryImage6.png" alt=""></div>
                <div class="galleryItem">
                    <div><span>+</span></div>
                    <img src="/img/galleryImage7.png" alt=""></div>
                <div class="galleryItem">
                    <div><span>+</span></div>
                    <img src="/img/galleryImage8.png" alt="">
                </div>
           </section>
        </div>
        <div class='videoHero'>
            <div class='descText'>
                <h1><span>Swe</span>et Awesomeness</h1>
                <p>Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.</p>

                <p>Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.</p>
                <a href="#">Visit Me</a>
            </div>
            <img src='/img/video.png'>
        </div>
    </div>
</body>
</html>