<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>Mersh</title>
    </head>
    <body>
        <h1 class="title">Marshall</h1>
        <%- include('../partials/navbar'); %>
        <section class="clearfix">
            <div class='column2'>
                <img class="profile" src="/img/profile.JPG">
            </div>
            <div class="column2">
                <p class='bio clearfix'>My name is Marshall Schmutz. I was born in St. George and I'm studying Computer Science at Dixie State University. I work at Dixie Technical College as an adjunct instructor teaching beginning web development, 3D modeling, and animation. I enjoy playing video games and reading.</p>
                <p class="bio">Some facts about me:</p>
                <ul>
                    <li>I play the piano and the accordion</li>
                    <li>I absolutely love older science fiction books. Some of my favorites are:</li>
                    <ul>
                        <li>The Hitchhiker's Guide to the Galaxy</li>
                        <li>Dune</li>
                        <li>Stranger in a Strange Land</li>
                        <li>The Martian Chronices</li>
                        <li>Brave New World</li>
                        <li>The Left Hand of Darkness</li>
                        <li>Ringworld</li>
                    </ul>
                    <li>Through combined fascination and old habits, I usually carry around 4.5T of external storage on me every day.</li>
                    <li>One of my friends thought I was mute until 8th grade, so if that doesn't set the tone for the semester I don't know what will</li>
                </ul>
            </div>
        </section>
        <%- include('../partials/footer'); %>
    </body>
</html>
