<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contents="ie=edge">
        <link href="/css/squares.css" rel="stylesheet">
        <title>Grey Squares</title>
    </head>
    <body> 
        <div id="logo">logo</div>
        <div id='nav'>nav</div>
        <div id='hero'>hero</div>
        <div id='call1'>call to action</div>
        <div id='call2'>call to action</div>
        <div id='call3'>call to action</div>
        <section class='gallery'>
            <div class="gItemSquare"></div>
            <div class="gItemSmall"></div>
            <div class="gItemWide"></div>
            <div class="gItemTallest"></div>
            <div class="gItemSmall"></div>
            <div class="gItemSmall"></div>
            <div class="gItemTall"></div>
            <div class="gItemSquare"></div>
            <div class="gItemSmall"></div>
            <div class="gItemWide"></div>
            <div class="gItemSmall"></div>
            <div class="gItemSmall"></div>
            <div class="gItemSmall"></div>
        </section>
        <div id="footer"></div>
    </body>
</html>