<nav class="desktop">
    <ul class='flex'>
       <li><a href="/" class="active">Home</a></li>
       <li><a href="#">Menu Item</a></li>
       <li><a href="#">Dropdown</a>
           <ul>
               <li><a href="#">Menu Item</a></li>
               <li><a href="#">sub dropdown</a>
                    <ul class="">
                         <li><a href="#">Menu Item</a></li>
                         <li><a href="#">Menu Item</a></li>
                         <li><a href="#">Menu Item</a></li>
                         <li><a href="#">Menu Item</a></li>
                    </ul>
               </li>
               <li><a href="#">Menu Item</a></li>
               <li><a href="#">Menu Item</a></li>
           </ul>
       </li>
       <li><a href="#">Menu Item</a></li>
       <li><a href="#">Menu Item</a></li>
       <li><a href="#">Menu Item</a></li>
       <li><a href="#">Menu Item</a></li>
       <li><a href="#">Menu Item</a></li>
       <li><a href="#">Menu Item</a></li>
   </ul>
</nav>

<nav class="mobile">
    <ul class='flex dropdown'>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="#">Menu Item</a></li>
        <li><a class="toggle" href="#">Dropdown</a>
            <ul class="submenu">
                <li><a href="#">Menu Item</a></li>
                <li><a class="toggle" href="#">sub dropdown</a>
                     <ul class="submenu">
                          <li><a href="#">Menu Item</a></li>
                          <li><a href="#">Menu Item</a></li>
                          <li><a href="#">Menu Item</a></li>
                          <li><a href="#">Menu Item</a></li>
                     </ul>
                </li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
            </ul>
        </li>
        <li><a href="#">Menu Item</a></li>
        <li><a href="#">Menu Item</a></li>
        <li><a href="#">Menu Item</a></li>
        <li><a href="#">Menu Item</a></li>
        <li><a href="#">Menu Item</a></li>
        <li><a href="#">Menu Item</a></li>
    </ul>
    <div id='menuToggle'>
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>